/* Reset default margin and padding for the page */

  
  /* Style the entire page */
  .Entirepage {
    position: relative;
    height: 100vh;
    width: 96%;
    
    
  }
  
  /* Style the map container to fill the entire page */
  .Map {
   
    top: 0;
    
    width: 100%;
    height: 100vh;
    z-index: 1; /* Put the map below the other elements */
    position:absolute;
    background-color: #007bff;
    
    
  }
  
  /* Style the search bar */
  .search-bar {
    
    top: 10px;
    left: 190px;
    position: absolute;
    z-index: 2; /* Put the search bar above the map */
    width:40%;
    height:48px;
    
  }
  
/*style the login button*/

.text{

  margin-top: 6px;
    color: rgb(0, 3, 12);
    background-color: #a3d7f5;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 15px rgba(17, 152, 194, 0.5);
    margin-right: 14px;
    z-index: 2;
    position:absolute;
    left: 1300px;
    z-index: 3;
}



/*overriding some internal stling*/
.ReactModal__Overlay--after-open{
  position:relative;
  z-index:3;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  height: 40%;
  padding: 20px;
  padding-bottom: 0px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: auto;
  z-index: 3;
}

.overlay {
  osition: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  z-index: 2;
}

.form h2 {
  font-size: 24px;
  margin-bottom: 16px;
  z-index: 2;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  z-index: 2;
}

.button1 {
  width: 80px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #a3d7f5;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 2;
 
  top:20px;


  box-shadow: 0 2px 15px rgba(17,152,194,.5);
  color: #00030c;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  
}


.button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 2;

  top:50px;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #004599;
}

button:focus,
input:focus {
  outline: none;
}
.text {
  margin-top: 6px;
  color: rgb(0, 3, 12);
  background-color: #a3d7f5;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 15px rgba(17, 152, 194, 0.5);
  margin-right: 14px;
  z-index: 2;
  position:relative;
  left: 0px;
  z-index: 3;
 
  width:120px;
}
.text:hover {
  background-color: #a3f5da;
  transform: scale(1.05);
}

.text:focus {
  outline: none;
}

.text:active {
  transform: scale(0.95);
}




  /* Style the sidebar */
.sidebar {
    width: 90px;
    background-color: rgba(163, 215, 245, 0.671);
    height: 100vh;
    position: relative;
    z-index: 3;
    padding: 3px;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to left, rgba(232, 252, 252, 0.986), #a3d7f5);
        pointer-events: none;
    }
}



  
  /* Style the message app */
  .message-button{
    background: black;
    border-radius: 5px;
    position: relative;
    top: 150px;
    height: 100px;

  }

  .message-app {

background-color: rgba(161, 208, 247, 0.685);
left: 100px;
height:500px;
width:500px;
position: relative;
border-radius: 0px;
top: 120px;
  }
  
  .contacts {
    background-color: #ffffffdb;
    width: 30%;
    min-width: 20px;
    display: flex;
    height :100%;
    position: absolute;
  
  }

  
.chat-container {
  left:30%;
  width: 70%;
  display: flex;
  flex-direction: column;
  position:relative;
 
  height :100%;
  background-color: rgba(0, 255, 255, 0);

  
}

.chat-messages{
  height: 90%;
  background-color: rgba(236, 242, 245, 0.164);
}
.chat-text{
  background-color: #f2f2f2;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.chatdiv{
  position: absolute;
  overflow-y: auto;
  height: 370px;
}

.chat-input{
  background-color:whitesmoke ;
  width:75%;
  height: 100%;
  border-radius: 5px;
  border-color: rgba(0, 255, 255, 0.288);

}
.send-button{
  border-radius: 5px;
  height: 100%;
  width:75px;
  
}

  /*

  


.chat-messages {
  flex: 1;
  
}

.message {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.active-contact {
  background-color: #007bff; 
  color: #fff; 
}






#contact-list {
  list-style-type: none;
  adding: 0;
  argin: 0;
  eight: 550px;
}

#contact-list li {
  margin-bottom: 10px;
}

/* Style the contact names 
h2 {
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

/* Style on hover (optional) 
h2:hover {
  text-decoration: underline;
}


.chat-input {
  display: flex;
  align-items: center;
  color: red;

}





*/
