/* SearchBox.css */

.search-box {
  background: linear-gradient(
    to right bottom,
    rgba(224, 230, 251, 0.9),
    rgba(212, 220, 247, 0.9),
    rgba(200, 212, 244, 0.1),
    rgba(187, 204, 239, 0.0),
    rgba(175, 196, 235, 0.0),
    rgba(168, 195, 240, 0.0),
    rgba(224, 230, 251, 0.0),
    rgba(202, 213, 252, 0.5),
    rgba(201, 212, 250, 0.9)
  ), url(https://images.pexels.com/photos/6890399/pexels-photo-6890399.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: normal;
}

.search-bar {
  margin-top: 20vh;
  width: 60%;
  
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

}

.search-bar::placeholder {
  color: #999;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
