.PropertyListingCss {
    color: black;
    background-color: rgb(246, 249, 252);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 0px;
  }
  
  .listingCard {
    color: rgb(110, 93, 93);
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    max-width: 300px;
  
  }
  
  .listingImage {
    border-radius: 10px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border: none;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .listingImagedescription {
    padding: 0px;
    justify-items: center;
    
  }
  .listingImagedescription h3{
    padding: 0px;
  }
.listingImagedescription p {
  padding: 0px;
}
  .listingImagedescriptioncity {
display: flex;
gap: 19px;
  }
  
  .listingImage:hover {
    transform: scale(1.05);
  }
  
  .propertyInfo {
    padding: 10px;
  }
  
  .propertyTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .propertyLocation {
    font-size: 16px;
    color: rgb(118, 118, 118);
    margin-bottom: 6px;
  }
  
  .propertyPrice {
    font-size: 18px;
    color: rgb(30, 70, 32);
    font-weight: bold;
    margin-top: 10px;
  }
  
  .propertyDescription {
    font-size: 16px;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .PropertyListingCss {
      padding: 10px;
    }
  
    .listingCard {
      padding: 5px;
    }
  
    .listingImage {
      height: 150px;
    }
  
    .propertyTitle {
      font-size: 16px;
    }
  
    .propertyLocation,
    .propertyPrice {
      font-size: 14px;
    }
  
    .propertyDescription {
      font-size: 14px;
    }
  }




.Modal {
top:50%;
left: 50%;
transform:translate(-50%, -50%);
position: fixed;
padding:20px;
width:75%;
max-width: 1100px;
height: 90%;
align-items: center;

  border-radius:0px;
  overflow: hidden;

  background-color:rgb(255, 255, 255);
  overflow-y: auto;
  
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  max-height: calc(100vh - 20px);


}
.popup {
    position: fixed;
    border :none;
 margin:10% auto;
 margin-top:0px;
width:96%;
max-width: 1100px;
height: 97%;



}

.UserImage{
    width: 59px;
    height: 59px;
  
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
    border-radius:50%;
    margin-left:100px;
    margin-top: 10px;
}

.Modalheader {
    display: flex;
    flex : wrap;
    color:black;
    text-align: center; 
    font-size: 25px;
    align-items: center;

    padding-right:1000;
    justify-content: center;

    
   
}
.Modalheadertitle {
    margin:10px;
    font-size:39px;
}

.Modalimages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    border :none;
    /box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
    

    
}
.imagepop1 {
    padding:4%;
    border-radius: 12px;
    width: 60%;
    max-width: 1000px;
    padding-bottom: 2px;
}
.imagepopgroup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    height: 10%;
    width:26% ;
    margin-top:3%;
    
    

}
.imagepop2 {
    height: 50%;
   width: 110%;
   /border-radius: 11px;
   padding-top:8px;
   
   

}

.ModalDescription {

    margin: auto;
    
    display: flex;
    justify-content: space-between;
    padding: 14px;
    width: 95%;
    max-width: 1000px;
    flex-wrap: wrap;
    overflow-y:hidden;
    border :none;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
}

.ModalDescriptionbox {
    border:solid;
    padding: 14px;
    border-radius: 10px;
    color: rgb(116, 107, 107);
    border :none;
    /box-shadow: 0 2px 18px rgba(19, 18, 18, 0.3);
    padding-top: 0px;
    width: 60%;
    
    
}

.ModalDescriptioncontact {
    margin: 9px;
    padding: 14px;
    border :none;
    ox-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: rgb(116, 107, 107);
}


.ModalUsercomments {
   margin:9px;
   display:flex;
   flex-direction: column;
   justify-content:space-evenly;
   padding: 14px;
   border :none;
   ox-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   color: rgb(116, 107, 107);
   
}

.ModalMap{
    
  
    border :none;
    ox-shadow: 0 2px 18px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 300px;
    height: 350px;
    margin-left:0px;

    overflow: hidden;

}




.closeselected {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to right, #add8e6, #87cefa);
  padding: 10px;
  border-radius: 5px;
  border:none;
}

.closeselected:hover {
    transform: scale(1.2);
    transition: transform .2s;
    box-shadow: 0px 0px 20px #87cefa;
  }

.closeselected:active {
    background: linear-gradient(to right, #87cefa, #add8e6);
}

