/* LoginForm.css 

.modal {
    osition: fixed;
    op: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: auto;
    z-index: 3;
  }
  
  .overlay {
    osition: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
  }
  
  .form h2 {
    font-size: 24px;
    margin-bottom: 16px;
    z-index: 2;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    z-index: 2;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:active {
    background-color: #004599;
  }
  
  button:focus,
  input:focus {
    outline: none;
  }
  .text {
    margin-top: 6px;
    color: rgb(0, 3, 12);
    background-color: #a3d7f5;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 15px rgba(17, 152, 194, 0.5);
    margin-right: 14px;
    z-index: 2;
    position:relative;
    left: 1300px;
    z-index: 3;
  }
  .text:hover {
    background-color: #a3f5da;
    transform: scale(1.05);
  }
  
  .text:focus {
    outline: none;
  }
  
  .text:active {
    transform: scale(0.95);
  }

  */