/* Sidebar styles 
.sidebar {
    width: 100px;
    background-color: rgb(230, 224, 224);
    height: 100vh;
    osition: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
  }
  
  .login{
    margin-top:10px;
  }

  .message-button {
    margin-top: 10px;
  }
  .profile-button {
    background-color: rgb(15, 15, 15);
    color: rgb(235, 238, 238);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    osition: absolute; 
    margin-top: 10px;
  }
  
  .message-button {
    top: 10px; 
  }
  
  .profile-button {
    bottom: 10px; 
  }
  */