/* SearchBox.css */

.search-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color:rgba(163, 215, 245, 0.192) ;
}
.search{
  position: relative;
}

.inputfield {
  width: 400px;
  height: 35px;
  margin: 5px;
 border-radius: 16px;
 background-color: #eceff1;
 font-size: larger;
 border-color:#a3d7f5;
}






.search-bar::placeholder {
  color: #999;

}

.search-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 14px 7px;
  border: none;
  border-radius: 15px;
  background-color: #a3d7f5;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(47, 255, 220);
}
