/* Blog.css */
.blog{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: rgba(201,212,250,.3);
   
}

.blog-container {
    height:80vh;
    width: 90%;
    margin: 0;
    padding: 20px;    
    ox-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
  }
  .blog-column{
    display: flex;
    flex-direction: column;
    width: 80vh;
    margin: 5vh;


  }

 
  .blog-post {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(140, 212, 221, 0.664);
    border-radius: 15px;
    max-height: 20vh;
    overflow-x: auto;
    overflow-y: hidden;
    
  }
  
  .blog-image {
    width: 30vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .blog-content {
    flex: 1;
  }


   .blog-column2{
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin: 4vh;


  }

  .blog-image2 {
    width: 70vh;
    height: 42vh;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 5vh;
  }

  .blog-post2 {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(140, 212, 221, 0.664);
    border-radius: 15px;
    
  }
  .blog-content2 {
    flex: 1;
    font-size: 19px;
    margin: 5px;
  }

  .subscribeposter{
    display:flex;
    position:relative;

  }
  .subscribe{
    margin: auto;
    align-items: center;
    display: flex;
  }
  .subscribeText{
    position: absolute;
    margin-left:600px;
  }
  .latest_blog_text{
        display: flex;
        justify-content: center;
  }

  /* Customize styles based on your design */
  