/* Add these styles to your CSS or in a style tag within your component */

.featured-rentals-container {
    height: 130vh;
    ackground: linear-gradient(to left bottom,rgba(202,213,252,.5),rgba(201,212,250,.9),rgba(200,212,244,.1),rgba(187,204,239,0),rgba(175,196,235,0),rgba(168,195,240,0),rgba(224,230,251,0),rgba(202,213,252,.5),rgba(201,212,250,.9));
    background-color:  rgba(201,212,250,.3);
    padding-left: 20px; /* Add padding for better spacing */
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  
  .property-list {
    display: flex;
    flex-direction: row; /* Display properties vertically */
    align-items: center; /* Center items horizontally */
  }
  
  .property-item {
    height: 340px;
    width: 382px;
    margin-bottom: 20px; /* Add margin between property items */
  }
  
  .property-image {
    height: 45vh;
    width: 35vh;
    object-fit: cover;
    border-radius: 24px;
    margin:20px;
  }
  
  .featured_text {
    justify-content: center;
    }
.featured-property{
    margin:15vh;
idth: 80vh;
display: flex;
flex-direction: row;


}
.featured-property-info{
    display: flex; 
    flex-direction: column;
    width: 500px;

}
.property-image-featured{
    width: 80vh;
    height: 60vh;


}