.infobox-info {
    font-family: verdana;
    font-size: 100pt;
    color: blue;
    padding: 10px;
    overflow: hidden;
}
.infobox {
    position:absolute;
    color:red;
}
.Infobox {
    position:absolute;
}

.MicrosoftMap .Infobox .infobox-title {
    font-family: Verdana;
    font-size: 10pt;
    line-height: 1.1;
    margin-right: 20px;
    font-weight: bold;
    padding: 10px;
    color: #333
}
.styles{
    background-color: red;
}